@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
body{
  @apply bg-primary text-text;
}

/* global.css */
main {
  position: relative;
  overflow: hidden; /* Ensures smooth clipping of sections during animation */
}

.section-hidden {
  transform: translateY(0); /* Initial state */
}

.section-contact-visible {
  transform: translateY(-100vh); /* Slides the rest of the sections up */
  transition: transform 0.8s ease-in-out; /* Smooth animation */
}